!
enable
!
configure terminal
!
no ip domain lookup
ip domain name cisco.com
!
crypto key generate rsa general-keys modulus 1024
!
ip ssh version 2
username {{ username }} privilege 15 secret {{ password }}
!
line console 0
 login local
!
line vty 0 4
 login local
 transport input all
!
end
!
wr mem
!