{% if type == "router_core" %}
    {% if name == 'R1' %}
    router ospf 100
    router-id 10.255.255.1
    network 10.255.255.1 0.0.0.0 area 0
    network 10.100.17.1 0.0.0.255 area 0
    exit
    !
    int tun 0
    ip ospf network point-to-multipoint non-broadcast
    exit
    !
    router ospf 100
    neighbor 172.16.123.2
    neighbor 172.16.123.5
    network 172.16.123.1 255.255.255.255 area 1
    exit
    !
    {% elif name == 'R4' %}
    router ospf 100
    router-id 10.255.255.4
    network 10.255.255.4 0.0.0.0 area 0
    network 10.100.48.4 0.0.0.255 area 0
    exit
    !
    int tun 1
    ip ospf network point-to-multipoint non-broadcast
    exit
    !
    router ospf 100
    neighbor 172.16.245.2
    neighbor 172.16.245.5
    network 172.16.245.4 255.255.255.255 area 1
    exit
    !
    {% else %}
    !
    {% endif %}

{% elif type == 'router_edge' %}
!
int range tun 0 - 1
ip ospf network point-to-multipoint non-broadcast {# since non-broadcast so no need configure priority 0 on Spokes. #}
exit
!
    {% if name == 'R2' %}
    router ospf 100
    neighbor 172.16.123.1
    neighbor 172.16.245.4
    network 172.16.123.2 255.255.255.255 area 1
    network 172.16.245.2 255.255.255.255 area 1
    exit
    !
    {% elif name == 'R5' %}
    router ospf 100
    neighbor 172.16.123.1
    neighbor 172.16.245.4
    network 172.16.123.5 255.255.255.255 area 1
    network 172.16.245.5 255.255.255.255 area 1
    exit
    !
    {% else %}
    !
    {% endif %}

{% elif type == 'switch' %}
ip routing
!
router ospf 100
 network 0.0.0.0 255.255.255.255 area 0
!
{% else %} 
!
{% endif %}