{% if name == 'R1' %}
router bgp 1
 neighbor 192.168.12.2 remote-as 2
 network 1.1.1.0 mask 255.255.255.0
 !
 exit
!
route-map MED permit 10
 set metric 700
 exit
!
router bgp 1
 neighbor 192.168.12.2 route-map MED out
 exit
!
{% elif name == 'R3' %}
router bgp 1
 neighbor 192.168.23.2 remote-as 2
 network 1.1.1.0 mask 255.255.255.0
 !
 exit
!
route-map MED permit 10
 set metric 500
 exit
!
router bgp 1
 neighbor 192.168.23.2 route-map MED out
 exit
!
{% elif name == 'R2' %}
router bgp 2
 neighbor 192.168.12.1 remote-as 1
 neighbor 192.168.23.3 remote-as 1
 !
 exit
!
{% else %}
!
{% endif %}